body 
{
	font-family: 'Open Sans' , sans-serif;
}

.navbar 
{
	text-transform: uppercase;
	color: #FFFFFF;	
    margin-bottom: 0px;
    z-index: 100;
}

.navbar-sticky 
{
	position: fixed;
	top: 0px;
	width: 100%;
}

a.navbar-header
{
	padding-top: 11;
	padding-left: 40;
	text-decoration: none;
	font-size: 20px;
	color: #000000;
	float:left;
}

.testa 
{
	font-size: 60px;
    color: #000000;
    letter-spacing: 10px;
    font-weight: bold;
    text-align:center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#testa 
{
	 background: url('images/header.jpg');
	 background-position: center;
}

.navbar .nav.navbar-nav 
{
    color: #000000;
    font-size: 20px;
    float: right;
}

.container 
{
 	margin-top: 20px;
}

.container-sticky 
{
	margin-top: 80px;
}
  
.text-muted {
	color: #000000;
	padding-top: 20px;
	padding-left: 60px;
}

input,
select {
	cursor: pointer;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    outline: 0;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
}

